{% for image in images %}

<fieldset>
    {{ image.imageName }}
    <input type="radio" name="img2select" value="{{ vich_uploader_asset(image, 'imageFile') }}"> 
    <img src="{{ vich_uploader_asset(image, 'imageFile') }}" class="img img-responsive" style="height:200px; width:auto">  
</fieldset>
    
{% endfor %}

<script>
    // Helper function to get parameters from the query string.
    function getUrlParam(paramName) {
        var reParam = new RegExp('(?:[\?&]|&)' + paramName + '=([^&]+)', 'i');
        var match = window.location.search.match(reParam);

        return (match && match.length > 1) ? match[1] : null;
    }
    // Simulate user action of selecting a file to be returned to CKEditor.
    function returnFileUrl() {

        var funcNum = getUrlParam('CKEditorFuncNum');

        var fileUrl = document.querySelector("input[name=img2select]:checked").value;
        window.opener.CKEDITOR.tools.callFunction(funcNum, fileUrl);
        window.close();
    }
</script>


<button onclick="returnFileUrl()">Selectionner un ficher</button>