.flash-notice {
    background-color: green;    
}

.flash-warning {
    background-color: yellow;    
}

.flash-error {
    background-color: red;    
}

.avatar_image{
    width: 75px;
    height: auto;
}

.red {
    color:red
}