{% extends 'base.html.twig' %}

{% block title %}Profile de {{ user.username }} 
{#% if app.user %}
{{ app.user.username }}
{% else %}

{% endif %#}
!{% endblock %}

{% block body %}

  <h1>Mettre à jour mon profil</h1>

  {{ form_start(form) }}
    {{ form_row(form.displayName, {
      'label': 'Nom affiché',
      'required': false,
      'attr':
        {
          'class': 'form-control',
         
        }
      })
    }}

    {{ form_row(form.password, {
      'label': 'Mot de passe',
      'required': true,
      'attr':
        {
          'class': 'form-control',
          'value': app.user.password
        
        }
      })
    }}

    {{ form_row(form.biography, {
      'label': 'Votre bio',
      'required': false,
      'attr':
        {
          'class': 'form-control',
          'value': "test"
          
        }
      })
    }}

    {{ form_row(form.avatarFile, {
      'label': 'Votre avatar',
      'required': false,
      'attr':
        {
          'class': 'form-control',
          'required': false,
        }
      })
    }}

    {{ form_row(form.avatarName) }}
    
    <input type="submit" value="Mettre à jour mes infos" class="btn btn-primary">
    
  {{ form_end(form) }}

  <hr>












<div class="container">
    <div class="jumbotron">
        <img src="{{ vich_uploader_asset(user, 'avatarFile') }}" class="img img-responsive" style="width:150px;height:auto">
        <h1>{{ user.displayName }}</h1>

        <h4>membre depuis le {{ user.createdAt|date('d/M/Y') }}</h4>
        <hr>
        <p>{{ user.biography|raw }}</p>
    </div>
    <div>
        <ul class="list-group">
            {% for article in user.articles %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <a href="{{ path('blog_show', {'id': article.id}) }}">{{ article.title }} - publié le {{ article.createdAt|date('d/m/Y') }}</a>
            </li>
            {% endfor %}
          </ul>
    </div>
</div>

{% endblock %}
