{% extends 'base.html.twig' %}

{% block title %}Profile de {{ user.displayName }} !{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron">
        <!-- TODO add default profile image-->
        {% if user.avatarName %}
        <img src="{{ vich_uploader_asset(user, 'avatarFile') }}" class="img img-responsive avatar_image"
            style="width:150px;height:auto">
        {% else %}
        <img src="{{ asset("images/avatar_default.png") }}" class="img img-responsive avatar_image"
            style="width:150px;height:auto">
        {% endif %}
        <h1>{{ user.displayName }}</h1>

        {% if canUpdate %}
        <button>
            <a href="{{ path('user_edit_profile', {'username': user.username}) }}">Mettre à jour</a>
        </button>
        {% endif %}

        <h4>membre depuis le {{ user.createdAt|date('d/M/Y') }}</h4>
        <hr>
        <p>{{ user.biography|raw }}</p>
    </div>
    <div class="">
        <h2>mes likes</h2>
        <ul class="list-group">
            {% for like in user.alikes %}
            <li  class="list-group-item d-flex justify-content-between align-items-center">{{ like.article }}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
            <h2>mes Articles</h2>
        <ul class="list-group">
            {% for article in user.articles %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{{ path('blog_show', {'id': article.id}) }}">{{ article.title }} - publié le
                    {{ article.createdAt|date('d/m/Y') }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

</div>

{% endblock %}