{% extends 'base.html.twig'  %}

{% block body %}

    <h1>
        {% if editMode %}
            Modification d'un article
        {% else %}
            Création d'un article
        {% endif %}
        
    </h1>

    {% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

    {{ form_start(formArticle) }}
    
        <label for="">Titre de l'article</label>
        {{ form_widget(formArticle.title,{'attr':{'placeholder':"Titre de l'article"}}) }}
        <label for="">Catégorie de l'article</label>
        {{ form_widget(formArticle.category) }}
        <label for="">Contenu de l'article</label>
        {{ form_widget(formArticle.content,{'attr':{'placeholder':"Contenu de l'article"}}) }}
        <label for="">Image de l'article</label>
        {{ form_widget(formArticle.imageFile,{'attr':{'placeholder':"Image de l'article"}}) }}
        <button type="submit" class="btn btn-success" >
            {% if editMode %}
                Modifier l'article
            {% else %}
                Enregistrer l'article
            {% endif %}
        </button>
     
    
        {{ form_end(formArticle) }}

{% endblock  %}