{% extends 'base.html.twig'  %}

{% block body %}
    <h1>Bienvenue dans ce Blog !</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, reprehenderit culpa? Aspernatur sit, non nam rerum explicabo,
        nemo ullam recusandae consectetur fugiat, maiores assumenda saepe dolorem vero libero est. Quaerat cumque quas consequatur
        vel assumenda minus ratione est, quo illo.</p>
    <p>Perspiciatis ab quis dolor. Architecto tempora saepe ipsam sapiente, veniam dolore quibusdam debitis possimus, temporibus
        vero veritatis rem at quia animi autem? Aperiam soluta, laborum fugit quam aliquid ut harum, autem aut facilis sunt modi
        pariatur, quos architecto esse natus.</p>
        
{% endblock  %}
