{% extends 'base.html.twig' %}
{% block body %}

<article>
	<h2>{{ article.title }}</h2>
	<a href="{{ path('blog_like', {'id': article.id}) }}" class="btn btn-link js-like">
		{% if app.user and article.isLikedByUser(app.user) %}
		<!--  version pouce plein -->
		<i class="fas fa-thumbs-up red"></i>
		{% else %}
		<!--  version pouce vide -->
		<i class="far fa-thumbs-up red"></i>
		{% endif %}
		<span class="count-like">{{ article.alikes|length }}</span>
	</a>
	<div class="metadata">
		Ecrit le
		{{article.createdAt|date('d/m/Y')}}
		à
		{{ article.createdAt|date('H:i')}}
		dans la catégorie
		{{ article.category }}
	</div>
	<div class="content">
		{% if article.imageName %}
		<img src="{{ vich_uploader_asset(article, 'imageFile') | imagine_filter('my_medium_watermark') }}" alt="">
		{% endif %}
		<hr>

		{{ article.content|raw }}
	</div>
	<h3>Commentaires</h3>
	{{ form_start(formComment)}}
	{{ form_row(formComment.author, {'attr': {'placeholder': "Votre Pseudo", 'class': "form-control"} }) }}
	{{ form_row(formComment.content, {'attr': {'placeholder': "Votre commentaire...", 'class': "form-control", 'name': 'editor1'} }) }}

	<button type="submit" class='btn btn-primary'>Ajouter votre commentaire</button>

	{{ form_end(formComment) }}
	<section>
		{% if article.comments %}
		{% for comment in article.comments %}

		<div class="comment">
			<h4>{{ comment.author }}
				le
				{{ comment.createdAt|date('d/m/Y') }}
				à
				{{ comment.createdAt|date('H:i')}}</h4>
			<p>{{ comment.content|raw }}</p>
		</div>
		{% endfor %}
		{% else %}
		<p>Pas de commentaire encore</p>
		{% endif %}

	</section>
</article>

<script>
	let likebtn = document.querySelector('.js-like');
	likebtn.addEventListener('click', function (e) {
		e.preventDefault();
		console.log("Dedans");
		const url = this.href;
		console.log(url);

		$.ajax({
			url: url,
			type: 'GET',
			success: function (data, status) {
				let icon = document.querySelector('i');
				console.log(icon);
				if (icon.classList.contains('fas')) {
					console.log("dans fas");
					icon.classList.replace('fas', 'far')
				} else {
					console.log("dans far");
					icon.classList.replace('far', 'fas')
				}
				document.querySelector('.count-like').innerHTML = data['likes'];
			},
			error: function (result, status, error) {
				console.error("Une erreur est survenue " + error);
			}

		});


	});
</script>
{% endblock %}