<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>
		{% block title %}Welcome!
		{% endblock %}
	</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ asset('css/style.css')}}">
	{% block stylesheets %}{% endblock %}
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="/">SymBlog</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
			aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/blog">Liste des Articles</a>
				</li>

				</li>
				<li class="nav-item">
					<a class="nav-link" href="/blog/new">Créer un Article</a>
				</li>

				{% if app.user %}

					<li class="nav-item">
						<a class="nav-link" href="{{ path('security_logout') }}">Se déconnecter</a>
					</li>

				{% else %}

					<li class="nav-item"><a class="nav-link" href="{{ path('security_login') }}">Se connecter</a></li>
					<li class="nav-item"><a class="nav-link" href="{{ path('security_registration') }}">S'inscrire</a></li>

				{% endif %}

			</ul>

	
	</div>
	{% if app.user %}
		<div>
			<a href="{{ path("user_profile", {'username': app.user.username}) }}">
		{% if app.user.avatarName %}
			<img class="img img-responsive avatar_image" src="{{ vich_uploader_asset(app.user, 'avatarFile') }}">
			{% else %}
			<img src="{{ asset("images/avatar_default.png") }}" class="img img-responsive avatar_image">
		{% endif %}
			</a>
			
		</div>

	{% endif %}
</nav>
{% for label, messages in app.flashes %}
{% for message in messages %}
<div class="alert flash-{{ label }}">
	{{ message }}
</div>
{% endfor %}
{% endfor %}

<div class="container"> {% block body %}{% endblock %}
</div>
{% block javascripts %}{% endblock %}
<script
			  src="https://code.jquery.com/jquery-3.5.1.min.js"
			  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
			  crossorigin="anonymous"></script>
		
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>